@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  * {
    @apply font-montserrat;
  }
  header {
    @apply bg-indigo-200 flex flex-col items-center py-16;
  }

  footer {
    @apply bg-indigo-200 mt-[30px] flex flex-col items-center justify-center p-8;
  }

  main {
    @apply flex flex-col items-center;
  }

  section {
    @apply flex flex-col items-center w-full;
  }

  h1 {
    @apply text-5xl text-slate-700 font-bold;
  }

  h2 {
    @apply text-[28px] font-semibold text-slate-700 md:text-[32px];
  }

  h3 {
    @apply text-[18px] md:text-[22px];
  }

  button {
    @apply bg-slate-700 rounded-3xl text-white font-bold px-24 py-2
    hover:cursor-pointer hover:scale-105
    active:scale-90
    disabled:bg-slate-300 disabled:pointer-events-none duration-300;
  }
}

@layer components {
  .header-paragraph {
    @apply text-white mt-1.5 text-lg;
  }

  .card {
    @apply flex flex-col items-center rounded-xl shadow-lg my-8 max-w-116.25;
  }

  .balance-text {
    @apply text-[22px] md:text-[26px];
  }

  .stat-text {
    @apply text-center text-[20px] md:text-[24px];
  }

  .input-field {
    @apply border border-indigo-200 text-slate-700 p-2 my-1 rounded-lg
    focus:outline-indigo-200;
  }

  .transaction-type {
    @apply border border-indigo-200 rounded-lg mt-3 p-5 duration-300
    hover:cursor-pointer
  peer-checked:border-indigo-300;
  }
}
